.product-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.product-img {
    display: flex;
    justify-content: flex-end;
}

.product-img img {
    width: 500px;
    height: 500px;
}

.product-rating img {
    max-width: 100px;
    max-height: auto;
}

.product-title {
    font-size: 18px;
}

.product-price {
    margin-top: 30px;
    font-size: 16px;
}

.product-size {
    display: flex;
    justify-content: center;
    align-items: cente
}

.size-btn {
    margin: 10px;
    
}

.size-btn Button {
    width: 40px;
    height: 40px;
    border-radius: 0%;
}

.bag-btn Button {
    margin-top: 20px;
    width: 65%;
    border-radius: 0%;
    color: white;
}

/* 반응형 */
@media screen and (max-width: 63rem) {

    .product-img img {
        width: 350px;
        height: 350px;
        margin-left: 30px;
    }

    .product-info {
        display: flex;
        justify-content: center;
        flex-direction: column;

        margin-left: 30px;

    }
}