.login-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px;
    
}

.logo-img {
    display: flex;
    justify-content: center;
    
}

.menu-area {
    display: flex;
    justify-content: center;
}

.menu-list {
    display: flex;
    list-style-type: none;

}

.menu-list li {
    padding: 10px;
}

.search-input {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
}